.wrapper-grey {
  background-color: $gray-lighter;
  padding: 20px;
  margin: 20px;

}

#bookit {
width: 100%
}

.user-booking {
  padding: 40px;

}

#user-description {
  margin:  0px 30px;
}
.user-profile {
  padding: 40px;
  margin: 0px 20px;
  display: flex;
  h1 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
    color: $gray-light;
  }
}

.text-yellow {
  color: $yellow;
}

.text-gray {
  color: $gray-lighter;
}

.flat-info {
  padding: 40px;
  height: 60vh;
  background-color: $gray-lighter;
  border: 1px solid  #dce0e0;

  h2 {
    font-size: 18px;
    color: $gray-dark;
  }
  h3 {
    font-size: 14px;
    color: $gray;
  }
  p {
    font-size: 14px;
    color: $gray-light;
  }
}

hr {
  margin-top: 22px;
  margin-bottom: 22px;
  border: 0;
  border-top: 1px solid $gray-lighte;
  }